<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GoDoctor</title>
    <link rel="stylesheet" href="css/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/css/fontAwesome.css">
    <link rel="stylesheet" href="css/css/hero-slider.css">
    <link rel="stylesheet" href="css/css/owl-carousel.css">
    <link rel="stylesheet" href="css/css/datepicker.css">
    <link href="~/css/templatemo-style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <script src="js/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body>
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button id="primary-nav-button" type="button">Menu</button>
                    <a href="index.html">
                        <div class="logo">
                            <img src="img/logo.png" alt="Venue Logo">
                        </div>
                    </a>
                    <nav id="primary-nav" class="dropdown cf">
                        <ul class="dropdown menu">
                            <li class='active'><a href="#">Popular</a></li>
                            <li>
                                <a href="#">Most Visited</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">Most Visited 1</a>
                                        <ul class="sub-menu">
                                            <li><a href="#">Sub Visited Menu 1</a></li>
                                            <li><a href="#">Sub Visited Two</a></li>
                                            <li><a href="#">Sub Visited Menu 3</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Most Visited 2</a>
                                        <ul class="sub-menu">
                                            <li><a href="#">Sub Visited Menu 4</a></li>
                                            <li><a href="#">Sub Visited Five</a></li>
                                            <li><a href="#">Sub Visited Menu 6</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Most Visited 3</a>
                                        <ul class="sub-menu">
                                            <li><a href="#">Sub Visited Menu 7</a></li>
                                            <li><a href="#">Sub Visited #8</a></li>
                                            <li><a href="#">Sub Visited Menu 9</a></li>
                                            <li><a href="#">Sub Visited #10</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="scrollTo" data-scrollTo="blog" href="#">Blog Entries</a></li>
                            <li><a class="scrollTo" data-scrollTo="services" href="#">Our Services</a></li>
                            <li><a class="scrollTo" data-scrollTo="contact" href="#">Contact Us</a></li>
                        </ul>
                    </nav><!-- / #primary-nav -->
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - GoDoctor - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
