@model BusinessAccessLayer.DataViews.AuthView.LoginView
@{
}
<div class="row justify-content-center mt-5">
    <div class="col-md-8 col-lg-6">
        <!-- Increased the column size for larger form -->
        <div class="card shadow-lg">
            <!-- Used shadow-lg for a larger shadow effect -->
            <div class="card-header bg-primary text-white text-center">
                <h3>LogIN</h3>
            </div>
            <div class="card-body p-4">
                <!-- Added padding for more space around form elements -->
                <form asp-action="Login" asp-controller="Auth" method="post">

                    <div asp-validation-summary="All"></div>
                    <div class="form-row">
                        <div class="form-group ">
                            <label asp-for="Email" class="font-weight-bold">Email</label>
                            <input asp-for="Email" class="form-control" id="inputEmail4" placeholder="Enter your email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group ">
                            <label asp-for="Password" class="font-weight-bold">Password</label>
                            <input asp-for="Password" class="form-control" id="inputPassword4" placeholder="Enter your password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-2">Login</button> <!-- Added btn-block to make button span full width -->
                </form>



            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
