html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
.home {
    background-image: url('../Img/PagesImages/Group-162.png');
    background-size: 100% 100%; /* Stretch the image to fill the element */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    position: relative; /* Positioning context for child elements */
    left: 50%; /* Move the element to the right */
    right: 50%; /* Move the element to the left */
    transform: translateX(-50%); /* Center the element */
}
.content {
    width: 500px; /* Use semicolon instead of comma */
    position: relative;
    left : 0 ; 
    top : 30% ;
   
    

   /* Align to the left of the parent */
    /* Specify position as 'relative' */
}
    .content h1 {
        color: black;
        width : 100% ;
        font-size: 48px;
        font-weight: 400;
        padding : 5px 
    }
    .content p {
        
        padding: 5px
    }
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
}

.searchform {
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
}

.search-options {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.search-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px;
    margin-left: 10px;
}

    .search-field label {
        margin-bottom: 5px;
        font-size: 14px;
    }

    .search-field select,
    .search-field input {
        width: 150px;
        padding: 5px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .search-field input {
        width: 200px;
    }

.search-button {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

    .search-button button {
        background-color: #e40000;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

        .search-button button:hover {
            background-color: #d00000;
        }

.card {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

 

.card-title {
    font-weight: bold;
    font-size: 1.5rem; /* Adjust title font size */
}

.card-footer a {
    width: 100%; /* Full-width button */
}
